body{
    margin: 0;
    padding: 0;
    background-image: url(images/leftback.webp);
    background-size: cover;  
    font-family: sans-serif
}

nav{

    height: 50px;

    background:#000;

    opacity: 0.8;

    display: flex;

   

    align-items: center;

    justify-content: space-between;

    padding: 0px 20px 0px 790px;            /*  Top tool bar */

}

nav ul{

    display: flex;

    list-style: none;

}                                         /*Spacing tool bar*/

nav ul li a{

    text-decoration: none;

    color: white;

    font-size: 18px;

    font-weight: 500;

    letter-spacing: 1px;

    padding: 8px 10px;

    border-radius: 2px;

    transition: all 0.5s ease;      

}

nav ul li a:hover{

    color: white;

    background: #3498db;

}
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}